@import "./variables";
@import "./mixins";

//GRID DISPOSITION
.main__crear-gifo{
    width: 90%;
    margin: 120px auto;
    height: 80vh;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70% 30%;
}

//CAMARA IZQUIERDA
.cam-container__crear-gifo{
    width: 90%;
    height: auto;
    margin: auto auto 40% 20%;
    grid-area: 1/ 1 / 1 / 1;

}
.cam-light{
    width: 54%;
    margin-top: -24%;
}
.cam-cinta-container{
    width: 83%;
}
.cam-cinta1{
    width: 27%;
}
.cam-cinta2{
    width: 36%;
}
.cam-body{
    width: 68%;
}
.cam-light{
    width: 53%;
    position: relative;
    bottom: 20%;
}
.cam-body-container{
    display: flex;
    margin-top: -4%;
    position: relative;
    z-index: -100;
}

//CINTA DERECHA


//REC
.rec-container{
    width: 100%;
    height: 100%;
    border: 1px solid $primary-color;
    grid-area: 1/ 2 / 1 / 3;
    padding: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recuadro-container{
    display: flex;
    justify-content: space-between;
}

.recuadro{
    width: 32px;
    height: 32px;
    border-left: 1px solid $secondary-color;
    border-top: 1px solid $secondary-color;
}

.recuadro1{
    rotate: 180deg;
}
.recuadro2{
    rotate: 90deg;
}
.recuadro3{
    rotate: -90deg;
}

.video-container{
    margin: auto;
    width: 70%;
    height: 100%;
    display: flex;
    @include column--disposition;
    justify-content: center;
}

.titulo__creargifo{
    @include titulo--style;
    font-size: 25px;
    line-height: 35px;
}
.titulo__creargifo span{
    color: $secondary-color;
}

.parrafo__creargifo{
    @include parrafo--style;
    color: black;
    line-height: 29px;

}

//REC OPTIONS

.rec-options-container{
    grid-area: 2/2/3/3;
    @include column--disposition;
}
.steps{
    margin-top: 12px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.step{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $primary-color;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    font-family: $font-family-1;
    font-weight: $regular;
}
.line-decoration-3{
    background-color: $primary-color;
    width: 110%;
    height: 7px;
    border-radius: 50px;
    margin: 19px;
}

.boton-comenzar{
    width: 127px;
    height: 50px;
    color: $primary-color;
    font-family: $font-family-2;
    font-weight: $bold;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-comenzar:hover{
    background-color: $primary-color;
    color: $terciary-color;
}
.cinta-derecha{
    grid-area: 1/3/3/4;
    @include column--disposition;
    justify-content: center;
    margin-top: 250px;
}

