@import "./variables";

.header{
    width: 100%;
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $terciary-color;
    position: fixed;
    top: -10px;
    z-index: 100000;
}

.logo__cabecera{
    margin: 30px 0 0 30px; 
}

.boton__cabecera{
    display: block;
    cursor: pointer;
    margin: 50px 30px 0 0;
}

//Menu desplegable

.menu-desplegable__cabecera{
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-1;
    margin-top: 15px;
    padding-top: 17px;
    z-index: 100;
}

.check{
    display: none;
}

.opcion-menu__cabecera{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $terciary-color;
    width: 100%;
    height: 60px;
    font-family: $font-family-2;
    font-size: 15px;
}

.opcion-menu__cabecera:hover{
    text-decoration: underline solid 2px $secondary-color;
}

.opcion-menu__cabecera:active{
    color: $active-link;
}

.line-decoration-2{
    width: 41px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.315);
}

//Menu desplegable al pulsar sobre el boton

.check:checked ~ .menu-desplegable__cabecera, .check:checked ~ .menu-desplegable__cabecera .opcion-menu__cabecera {
    display: flex;
}

// Animación de pestaña  
@keyframes despliegue {
    0%{
        height: 0px;
    }
    100%{
        height: 100vh;
    }
}

//Icono de crear gif oculto
.newgif{display:none;}

//***MEDIA QUERYS***

//animación del menu desplegable, solamente para la version mobile. 
@media screen and (max-width: 1219px) {
    .menu-desplegable__cabecera{
        animation-name: despliegue;
        animation-duration: 0.5s; 
    }
    .imagen-desktop__logo{
        display: none;
    }
}

@media screen and (min-width: 758px) {
    .logo__cabecera{
        margin: 30px 0 0 60px;
    }
    .boton__cabecera{
        margin: 50px 60px 0 0;
    }
}

@media screen and (min-width: 1220px) {

    .header{
        align-items: center;
    }

    .imagen-mobile__logo{
        display: none;
    }

    .logo__cabecera{
        margin: 30px 0 0 156px;
    }

    .boton__cabecera, .line-decoration-2{
        display: none;
    }

    .menu-desplegable__cabecera, .opcion-menu__cabecera{
        display: flex;
    }
    
    .menu-desplegable__cabecera{
        flex-direction: row;
        width: auto;
        height: auto;
        align-self: center;
        margin-right: 156px;
    }

    //Propiedad puesta por ID, para que, el cambio de color del menu desplegable, en la versión mobile, no afecte a la versión desktop
    #menuDesplegable{
        background-color: transparent;
    }

    .opcion-menu__cabecera{
        @include titulo--style;
        color: $primary-color;
        width: auto;
        margin-left: 40px;
        text-transform: uppercase;
    }

    .newgif{
        display: block;
    }
}

//barra search

.hide-search{
    display: none;
    border: 1px solid $primary-color;
    height: 30%;
    padding: 24px 16px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    border-radius: 40px;
}

.hide-search input{
    background-color: transparent;
}








