@import "./variables";

.header{
    width: 100%;
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.check{
    display: none;
}

//Maqueteado del logo

.logo__cabecera{
    position: relative;
    margin: 29px 0 17px 22px ;
}
.container-padre__logo{
    width: 48.8px;
    height: 48.8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: $secondary-color;
    clip-path: polygon(30% 0%, 80% 0, 100% 20%, 100% 70%, 100% 100%, 30% 100%, 0 100%, 0 0);
    position: absolute;
}
.container-hijo__logo{
    margin: auto; 
    width: 85%;
    height: 85%;
    background-color: white;
    clip-path: polygon(30% 0%, 70% 0, 70% 30%, 100% 30%, 100% 100%, 30% 100%, 0 100%, 0 0);
}
.titulo__logo{
    width: 47.5px;
    height: 15.4px;
    background-color: white;
    font-family: $font-family-1;
    font-size: $font-size-1;
    color: $primary-color;
    position: relative;
    top: 21px;
    left: 8px;
}

//Maqueteado del menu

.boton__cabecera{
    display: block;
    width: 30px;
    height: 28px;
    cursor: pointer;
    position: relative;
    margin: 47px 26px 0 0;
}

.boton__cabecera:before, .boton__cabecera:after {
    position:absolute;
    display:block;
    content:" ";
    width: calc(100% / 2);               
    box-sizing: border-box;
    left: calc(100% / 4);
    transition: all 0.2s ease-out;
}

.boton__cabecera:before{
    top: calc(100% / 4);
    height:30%;
    border-top:2px solid $primary-color;
    border-bottom:2px solid $primary-color;
    background-color: transparent;
}

.boton__cabecera:after {
    height: 2px;
    background-color:$primary-color;
    bottom:calc(100% / 4);
}

//Menu desplegable

.menu-desplegable__cabecera{
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: $background-color-1;
    margin-top: 20px;
    padding-top: 17px;
    z-index: 100;
}

@media screen and (max-width: 1219px) {
    .menu-desplegable__cabecera{
        animation-name: despliegue;
        animation-duration: 0.5s; 
    }
}

.opcion-menu__cabecera{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $terciary-color;
    width: 100%;
    height: 60px;
    font-family: $font-family-2;
    font-size: 15px;
}

.line-decoration-2{
    width: 41px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.315);
    margin-top: 16px;
}

//Menu desplegable al pulsar sobre el boton

.check:checked ~ .menu-desplegable__cabecera, .check:checked ~ .menu-desplegable__cabecera .opcion-menu__cabecera {
    display: flex;
}

// Animación de pestaña  

@keyframes despliegue {

    0%{
        height: 0px;
    }

    100%{
        height: 100vh;
    }
}

// Comportamiento del menú hamburguesa al pulsar 

.check:checked + .boton__cabecera:before, .check:checked + .boton__cabecera:after {
    top: 40%;
    height: 2px;
    border-bottom:0;
}

.check:checked + .boton__cabecera:before{
    transform: rotate(45deg);
}

.check:checked + .boton__cabecera:after {
    transform: rotate(-45deg);
}

.newgif{display:none;}


@media screen and (min-width: 1220px) {
    .header{
        margin-bottom: 76px;
    }
    .boton__cabecera, .line-decoration-2{
        display: none;
    }
    .menu-desplegable__cabecera, .opcion-menu__cabecera{
        display: flex;
    }
    
    .menu-desplegable__cabecera{
        flex-direction: row;
        width: auto;
        height: auto;
        background-color: transparent;
        align-self: center;
    }
    .opcion-menu__cabecera{
        color: $primary-color;
        @include titulo--style;
        width: auto;
        margin-left: 40px;
    }

    .newgif{
        display: block;
    }
    
}

@media screen and (min-width: 758px) {
    .header{
        padding: 0 8vw;
    }
    .container-padre__logo{
        width: 59.1px;
        height: 59.1px;
    }

    .titulo__logo{
        top: 28px;
        left: 18px;
    }
}






