@import "./variables";
@import "./mixins";

.titulo-bis__main{
    @include titulo--style;
    font-size: $font-size-4 ;
    line-height: 30px;
    margin-top: 7px;
}

.principal-fav__main{
    @include principal--grid-setup;
    grid-template-rows: repeat(6,1fr);
}

.gif-container__principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif-container__principal img{
    width: 100%;
}

.ver-mas__main{
    margin: 78px 0;
    width: 40vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid $primary-color;
    border-radius: 50px;
    @include titulo--style;
    font-size: $font-size-6;
}