@import "./variables";
@import "./mixins";


.main, .principal{
    @include column--disposition;
}

.titulo__main{
    width: 70vw;
    max-width: 600px;
    height: 99px;
    margin: 170px 44px 31px 45px;
    text-align: center;
    @include titulo--style;
    font-size: $font-size-2;
}

.detalle-titulo__main{
    color: $secondary-color;
}

//PRINCIPAL

.welcome-img__principal{
    display: block;
    width: 70vw;
    max-width: 399px;
}

.search-container__principal{
    border: 1px solid $primary-color;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    max-width: 551px ;
    flex-wrap: wrap;
    padding: 13px;

}

.search-gif{
    font-family: $font-family-1;
    font-size: 16px;
    border: none;
    margin-left: 25px;
}

.search-icon__principal{
    margin-right: 25px;
}

.searchSuggestionsContainer{
    width: 100%;
    border-top: 1px solid $active-link;
    margin-top: 12px;
}



@media screen and (min-width: 500px) {
    .search-container__principal{
        justify-content: space-between;
    }
}


//TRENDING RECOMENDATIONS

.recomendations__principal{
    width: 100%;
    @include column--disposition;
    margin-top: 73px;
    /* display: none; */
}

.subtitulo__recomedations{
    margin: 0 0 6px 0;
    @include titulo--style;
    font-family: $font-family-2;
    font-size: $font-size-1;

}

.suggestions__recomendations{
    width: 60vw;
    height: 50px;
    margin-bottom: 45px;
    text-align: center;
}

.element__suggestions{
    @include parrafo--style;
    line-height: 24px;
    cursor: pointer;
}

//RESULTADOS DE BUSQUEDA

.results-container{
    @include column--disposition;
    width: 100%;
    margin: 55px 0 79px 0;
}

.line-decoration-4{
    width: 30%;
    height: 1px;
    background-color: $active-link;
    margin-bottom: 80px;
}

.resultados-title{
    @include titulo--style;
    margin-bottom: 59px;
}

#searchSuggestionsContainer{
    width: 100%;
}
@media screen and (min-width: 1220px){
    .titulo__main{ 
        font-size: 35px;
    }
}






