
//colors
$primary-color: #572EE5;
$secondary-color: #5ED7C6;
$terciary-color: #FFFF;
$background-color-1: rgba(87,46,229,0.90);
$background-color-2: #FFF3F5F8;

//fonts
$font-family-1: 'Roboto', sans-serif;
$font-family-2: 'Montserrat', sans-serif;

//sizes
$font-size-1: 16px;
$font-size-2: 25px;
$font-size-3: 14px;
$font-size-4: 20px;
$font-size-5: 15px;
$font-size-6: 13px;
$font-size-7: 35px;
$padding-size-1: 16px;

//weights
$medium: 500;
$regular: 400;
$bold: 700;
$black: 900;
