* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  outline: none;
}

.body {
  color: #572EE5;
}

.line-decoration-1 {
  width: 100%;
  height: 5px;
  background-color: #572EE5;
}

.header {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFF;
  position: fixed;
  top: -10px;
  z-index: 100000;
}

.logo__cabecera {
  margin: 30px 0 0 30px;
}

.boton__cabecera {
  display: block;
  cursor: pointer;
  margin: 50px 30px 0 0;
}

.menu-desplegable__cabecera {
  display: none;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(87, 46, 229, 0.9);
  margin-top: 15px;
  padding-top: 17px;
  z-index: 100;
}

.check {
  display: none;
}

.opcion-menu__cabecera {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFF;
  width: 100%;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

.opcion-menu__cabecera:hover {
  -webkit-text-decoration: underline solid 2px #5ED7C6;
          text-decoration: underline solid 2px #5ED7C6;
}

.opcion-menu__cabecera:active {
  color: #9CAFC3;
}

.line-decoration-2 {
  width: 41px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.315);
}

.check:checked ~ .menu-desplegable__cabecera, .check:checked ~ .menu-desplegable__cabecera .opcion-menu__cabecera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes despliegue {
  0% {
    height: 0px;
  }
  100% {
    height: 100vh;
  }
}

@keyframes despliegue {
  0% {
    height: 0px;
  }
  100% {
    height: 100vh;
  }
}

.newgif {
  display: none;
}

@media screen and (max-width: 1219px) {
  .menu-desplegable__cabecera {
    -webkit-animation-name: despliegue;
            animation-name: despliegue;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
  }
  .imagen-desktop__logo {
    display: none;
  }
}

@media screen and (min-width: 758px) {
  .logo__cabecera {
    margin: 30px 0 0 60px;
  }
  .boton__cabecera {
    margin: 50px 60px 0 0;
  }
}

@media screen and (min-width: 1220px) {
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imagen-mobile__logo {
    display: none;
  }
  .logo__cabecera {
    margin: 30px 0 0 156px;
  }
  .boton__cabecera, .line-decoration-2 {
    display: none;
  }
  .menu-desplegable__cabecera, .opcion-menu__cabecera {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-desplegable__cabecera {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: auto;
    height: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 156px;
  }
  #menuDesplegable {
    background-color: transparent;
  }
  .opcion-menu__cabecera {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #572EE5;
    width: auto;
    margin-left: 40px;
    text-transform: uppercase;
  }
  .newgif {
    display: block;
  }
}

.hide-search {
  display: none;
  border: 1px solid #572EE5;
  height: 30%;
  padding: 24px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  border-radius: 40px;
}

.hide-search input {
  background-color: transparent;
}

.main, .principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titulo__main {
  width: 70vw;
  max-width: 600px;
  height: 99px;
  margin: 170px 44px 31px 45px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.detalle-titulo__main {
  color: #5ED7C6;
}

.welcome-img__principal {
  display: block;
  width: 70vw;
  max-width: 399px;
}

.search-container__principal {
  border: 1px solid #572EE5;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90vw;
  max-width: 551px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 13px;
}

.search-gif {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  margin-left: 25px;
}

.search-icon__principal {
  margin-right: 25px;
}

.searchSuggestionsContainer {
  width: 100%;
  border-top: 1px solid #9CAFC3;
  margin-top: 12px;
}

@media screen and (min-width: 500px) {
  .search-container__principal {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.recomendations__principal {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 73px;
  /* display: none; */
}

.subtitulo__recomedations {
  margin: 0 0 6px 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.suggestions__recomendations {
  width: 60vw;
  height: 50px;
  margin-bottom: 45px;
  text-align: center;
}

.element__suggestions {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  line-height: 24px;
  cursor: pointer;
}

.results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 55px 0 79px 0;
}

.line-decoration-4 {
  width: 30%;
  height: 1px;
  background-color: #9CAFC3;
  margin-bottom: 80px;
}

.resultados-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-bottom: 59px;
}

#searchSuggestionsContainer {
  width: 100%;
}

@media screen and (min-width: 1220px) {
  .titulo__main {
    font-size: 35px;
  }
}

.category-icon {
  margin-top: 150px;
}

.titulo-bis__main {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-top: 7px;
}

.grilla-gif__main {
  padding: 21px;
  display: -ms-grid;
  display: grid;
  grid-gap: 21px;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.dstr-fav {
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
}

.dstr-misgifs {
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.content__grilla-gif {
  display: block;
  width: 20vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ver-mas__main {
  margin: 78px 0;
  width: 127px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1100px) {
  .grilla-gif__main {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .dstr-fav {
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .dstr-misgifs {
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1220px) {
  .titulo-bis__main {
    font-size: 25px;
  }
}

.open-window {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.904);
  position: fixed;
  z-index: 10000;
  padding: 16px;
}

.close__open-window {
  margin-left: 90vw;
  margin-right: 10vw;
  margin-bottom: 6%;
}

.gif-image__open-window {
  width: 318px;
  height: 245px;
  margin: auto;
}

.open-window-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.gifs-container__open-window {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.openWindowIcons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  width: 80px;
}

.openWindowNightStyle {
  background-color: #222326ce;
}

.openWindowInfo {
  width: 200px;
  font-family: "Roboto", sans-serif;
}

.favIcon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 1220px) {
  .close__open-window {
    width: 18px;
    margin-top: 15vw;
  }
  .openWindowInfo {
    margin-bottom: 50%;
  }
  .gif-image__open-window {
    width: 500px;
    height: 345px;
  }
}

.trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebebebf8;
  width: 100%;
  padding-bottom: 60px;
}

.subtitulo__trending {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: 46px 0 7px 0;
}

.parrafo__trending {
  text-align: center;
  width: 60vw;
  height: 46px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  line-height: 23px;
}

.slider-container__trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin-bottom: 82px;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin: 0 9.5px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
}

.boton__trending {
  display: none;
}

.gif-content {
  margin: 0 9.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: initial;
  position: relative;
  width: 243px;
  height: 186px;
}

.gif-image {
  height: 100%;
  width: 243px;
}

.slider-container__trending::-webkit-scrollbar {
  display: none;
}

.hoverWindow {
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 46, 229, 0.6);
  position: absolute;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.hoverWindow:hover {
  opacity: 1;
  cursor: pointer;
}

.hoverIcons {
  width: 129px;
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hoverIcons img {
  width: 30px;
}

.gifInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #FFFF;
  font-family: "Roboto", sans-serif;
}

.gifTitle {
  font-weight: 700;
}

.carrousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

@media screen and (min-width: 800px) {
  .slider-container__trending {
    width: 786px;
    overflow-x: scroll;
  }
}

@media screen and (min-width: 900px) {
  .boton__trending {
    display: block;
    cursor: pointer;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parrafo__footer {
  margin: 47px 0 24px 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.icons-container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon__footer {
  margin-left: 20px;
}

@media screen and (min-width: 1220px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 8vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icons-container__footer {
    margin: 22px 60% 0 10px;
  }
}

.main__crear-gifo {
  width: 90%;
  margin: 120px auto;
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
  -ms-grid-rows: 70% 30%;
      grid-template-rows: 70% 30%;
}

.cam-container__crear-gifo {
  width: 90%;
  height: auto;
  margin: auto auto 40% 20%;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1/ 1 / 1 / 1;
}

.cam-light {
  width: 54%;
  margin-top: -24%;
}

.cam-cinta-container {
  width: 83%;
}

.cam-cinta1 {
  width: 27%;
}

.cam-cinta2 {
  width: 36%;
}

.cam-body {
  width: 68%;
}

.cam-light {
  width: 53%;
  position: relative;
  bottom: 20%;
}

.cam-body-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4%;
  position: relative;
  z-index: -100;
}

.rec-container {
  width: 100%;
  height: 100%;
  border: 1px solid #572EE5;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/ 2 / 1 / 3;
  padding: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recuadro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recuadro {
  width: 32px;
  height: 32px;
  border-left: 1px solid #5ED7C6;
  border-top: 1px solid #5ED7C6;
}

.recuadro1 {
  rotate: 180deg;
}

.recuadro2 {
  rotate: 90deg;
}

.recuadro3 {
  rotate: -90deg;
}

.video-container {
  margin: auto;
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo__creargifo {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
}

.titulo__creargifo span {
  color: #5ED7C6;
}

.parrafo__creargifo {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  color: black;
  line-height: 29px;
}

.rec-options-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps {
  margin-top: 12px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #572EE5;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.line-decoration-3 {
  background-color: #572EE5;
  width: 110%;
  height: 7px;
  border-radius: 50px;
  margin: 19px;
}

.boton-comenzar {
  width: 127px;
  height: 50px;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #572EE5;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boton-comenzar:hover {
  background-color: #572EE5;
  color: #FFFF;
}

.cinta-derecha {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/3/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 250px;
}

.night--style {
  background-color: #37383C;
  color: #FFFF;
}

.night--style2 {
  background-color: black;
}

.night--style3 {
  background-color: #222326;
}

.nightBorders {
  border: 1px solid #FFFF;
}

.search-container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fixLogo {
  margin-left: 86px;
}

.hidden {
  display: none;
}

.noResultsMessage {
  color: #5ED7C6;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.noResultsDistribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sugerencia {
  cursor: pointer;
  color: #9CAFC3;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 8px 0;
}

.iconSearchSugerencia {
  width: 25px;
  margin: 6px;
}

.iconSearchInput {
  width: 35px;
  margin-left: 30px;
}

#inputSearchIconContainer, #inputSearchIconContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */