@import "./sass/mixins";
@import "./sass/variables";

*{
    @include format-document;
}

.body{
    color: $primary-color;
}

.line-decoration-1{
    width: 100%;
    height: 5px;
    background-color: $primary-color;
}

@import "./sass/header";
@import "./sass/main";
@import "./sass/main-fav-misgifs";
@import "./sass/trending";
@import "./sass/footer";
@import "./sass/crear-gifo";
@import "./sass/estilos-javascript";

